#home {
  display: grid;
  grid-template-areas:
    "title       ."
    "smart-input collections"
    "entities    collections"
    "entities    views";
  grid-template-rows: 30px auto fit-content(230px) fit-content(230px);
  grid-template-columns: 230px auto;
  grid-gap: 1em;

  .title {
    grid-area: title;
  }

  .smart-input {
    grid-area: smart-input;
  }

  .entities {
    grid-area: entities;
    padding: 10px;

    * {
      display: block;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

  .collections {
    grid-area: collections;
  }

  .views {
    grid-area: views;
  }
}
