@import "~lib/client/styles/colors.less";

#home {
  height: 100%;

  .view-title {
    margin-bottom: 20px;
  }

  .pt-callout {
    padding: 25px;
    height: 50%;
    max-height: 400px;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    .row.header h4 {
      display: inline-block;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .pt-non-ideal-state {
    max-width: 300px;
    height: 100%;
  }

  .full-height {
    height: calc(~'100% - 61px');
  }
}
