#home {
  display: grid;
  grid-template-areas:
    "title       ."
    "entities    collections"
    "entities    views";
  grid-template-rows: 30px repeat(2, minmax(200px, 1fr));
  grid-template-columns: 230px auto;
  grid-gap: 1em;
  max-height: 100%;
  max-width: 100%;

  .title {
    grid-area: title;
  }

  .entities {
    grid-area: entities;

    .smart-input {
      margin-bottom: 10px;
    }

    .entity-list {
      flex-grow: 1;
      padding: 0;
      padding-top: 10px;

      & > * {
        padding-left: 10px;
      }

      .pt-editable-text {
        display: block;
        margin-top: 10px;
        width: 85%;

        &:last-of-type {
          margin-bottom: 10px;
        }
      }
    }
  }

  .collections {
    padding: 0;
    padding-left: 5px;
    grid-area: collections;

    &.grid {
      display: grid;
      align-items: stretch;
      justify-content: stretch;
      grid-template-rows: 40px auto;
      grid-template-columns: auto 50px;
    }

    h4 {
      margin: 0;
      margin-left: 5px;
    }
  }

  .views {
    grid-area: views;
  }
}
