@import '~lib/client/styles/measurements';

#login {
  position: relative;

  .pt-callout {
    margin-top: 35%;
    width: 100%;
  }

  .center {
    padding: @view-padding;
    padding-left: 100px;
    padding-bottom: 10px;
    width: 400px;

    h2, p {
      text-align: center;
    }

    p {
      margin: 10px 0 0;
    }
  }
}
